/* custom */

.off-canvas__container {
  position: relative;
}

.off-canvas__nav {
  background-color: black;
  color: white;
  position: absolute;
  left: 0;
  top: 0;
  width: 250px;
  height: 190%;
  -webkit-user-drag: none;
}

/* Fawwaz */
#toggle-menu{
	margin-left: 20px;
	margin-top: 20px;
	z-index: 999;
}
/* FAwwaz : untuk navtabs agar bersih*/
.nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:focus, .nav-tabs.nav-justified > .active > a:hover {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid #DDD;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover{
  background-color: transparent;
}

.login-pane{
  border: 1px solid #ddd;
  min-height: 335px;
  height: 100%;
}

.image-circle{
  border-radius: 50%;
  width: 100px;
  height: 100px;
  border: 4px solid #FFF;
  margin: 10px;
}

.panel-image img.panel-image-preview {
  width: 100%;
  border-radius: 4px 4px 0px 0px;
}

.panel-heading ~ .panel-image img.panel-image-preview {
  border-radius: 0px;
}

.panel-image ~ .panel-body, .panel-image.hide-panel-body ~ .panel-body {
  overflow: hidden;
}
.panel-image ~ .panel-footer a {
  padding: 0px 10px;
  font-size: 1.3em;
  color: rgb(100, 100, 100);
}

#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

#fact{
  background-color: black;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  padding: 20px;
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  /* IE 5-7 */
  filter: alpha(opacity=880);
  /* Netscape */
  -moz-opacity: 0.8;
  /* Safari 1.x */
  -khtml-opacity: 0.8;
  /* Good browsers */
  opacity: 0.8;
}



.tabset, .tab-content, .tab-pane, .tabbable {
  height:100%;
}


/* According to CSS Tricks */
html,body{
  height: 100%;
}

body{
  min-height: 100%;
  padding: 50px 0 0 0;
}

.modal-backdrop {
  bottom: 0;
}

.page-wrap{
  min-height: 100%;
  margin-bottom: -60px;
}

.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  height: 60px; 
}
.site-footer {
  background: orange;
}

/* According to Jasny example*/

.navbar-toggle {
  float: left;
  margin-left: 15px;
}

@media (min-width: 0) {
  .navbar-toggle {
    display: block; /* force showing the toggle */
  }
}

@media (min-width: 992px) {
  body {
    padding: 0;
  }
  .navbar {
    right: auto;
    background: none;
    border: none;
  }
}