<div class="off-canvas__container off-canvas__content">


	<!-- <div class="container">
		<button ng-click="hctrl.toggle()">
			<span id="toggle-menu" class="glyphicon glyphicon-menu-hamburger"></span>
		</button>
	</div>-->

	<div class="jumbotron">
		<h3 class="text-center"><b>{{ dtlctrl.eventname }}</b></h3>
		<h4 class="text-center"><small>Panitia OSKM</small></h4>
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<img src="http://dummyimage.com/750x500/2e70ff/ffffff&text=Ceritanya+ini+poster+acara" holderFix>
				</div>
				<div class="col-md-4">
					<p><h1><b>173</b><br/><small>attend</small></h1></p>
					<p><h2><b>200 k</b><br/><small>view</small></h2></p>
					<p><h2><b>400</b><br/><small>watchers</small></h2></p>
					<hr />
					<p>Tagline event <span class="text-danger">Kibar</span>.</p>
					<button class="btn btn-primary" ng-click="hctrl.toggle()">Coba klik deh !</button>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-5 col-md-offset-2">
				<h4><b> Informasi umum </b> </h4>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deseru nt mollit anim id est laborum.
			</div>
			<div>
				Phasellus id sem mauris. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce viverra, dui et feugiat dictum, erat dolor aliquet velit, vel euismod eros neque id justo. Nam volutpat, elit et gravida laoreet, massa justo ultricies elit, ut facilisis arcu risus a dui. Maecenas dapibus elementum lorem in commodo. Vestibulum dictum imperdiet fermentum. Nullam tempus, lectus eu mollis fringilla, tellus leo aliquam lectus, eu tempus leo urna id ante. Vivamus nunc nunc, lobortis pharetra fringilla id, sodales in sem. 
			</div>
				<h4> <b> Syarat dan Ketentuan</b> </h4>
				<p>Interdum et malesuada fames ac ante ipsum primis in faucibus. Praesent vehicula fermentum nisl, nec maximus arcu cursus vel. Nunc massa neque, sagittis in faucibus at, scelerisque at sapien. Aliquam non massa at velit auctor pharetra quis ac dolor. Praesent dignissim tellus vitae sagittis semper. Donec eget condimentum purus, vitae aliquam ex. Vivamus tempor id eros a dignissim. Aliquam eget libero vel ante ornare laoreet sed in lacus. Phasellus nibh arcu, laoreet a leo ac, viverra volutpat nisi. Morbi suscipit ullamcorper leo, at lobortis nisi dapibus quis. Mauris porta massa dolor, a tempor justo faucibus nec. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus tincidunt vulputate lacus ac interdum. Quisque id ipsum eget odio facilisis consectetur sed sit amet tortor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse ut tristique ex, eu sollicitudin diam. </p>
				<h4> <b> Hadiah </b> </h4>
				<p>In gravida porta placerat. Donec mattis massa ut dui dignissim elementum. Suspendisse fringilla auctor velit, in accumsan felis consequat sit amet. Etiam sit amet urna condimentum, condimentum velit at, tempor eros. Donec eleifend justo sit amet rutrum commodo. Nam eros ipsum, tristique quis neque non, dapibus pretium purus. Aenean vel fermentum massa. Maecenas sit amet consectetur purus, id posuere arcu. </p>
			<div class="col-md-3">
				<div class="panel panel-primary">
					<div class="panel-heading">Summary</div>
					<div class="panel-body">
						<p>Lokasi : ITB</p>
						<p>Waktu : 27 april 2015</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	
</div>