<div class="jumbotron">
	<h1 class="text-center">
		Tentang Ruang Simpul
	</h1>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<img src="img/logoruangsimpul.jpg" class="col-md-12" alt="Ruang simpul">
			<h3>Kenapa ada Ruang Simpul?</h3>
			<p>Berdasarkan penelitian yang dilakukan oleh Pers Mahasiswa ITB, mading di dalam kampus tidak lagi efektif untuk menyebarkan informasi. Tidak setiap hari mahasiswa punya kesempatan untuk melihat mading. Akibatnya, sempat terjadi beberapa kasus keterlambatan beasiswa hanya <b>karena penerima tidak tahu tentang informasi beasiswa tersebut.</b></p>
			<img src="img/bukti-mading-gagal.jpg" class="col-md-12" alt="Bukti Kegagalan Mading">
			<h5 class="text-center"><small>Kasus pada bulan November 2014, Pencairan dana terlambat karena penerima tidak tahu informasinya</small></h5>
			<h3>Apa itu ruang Simpul</h3>
			<p>RuangSimpul adalah mading digital. Ya! Mading Digital. RuangSimpul adalah sebuah platform sharing informasi seputar kampus untuk semua hal, mulai dari informasi pertukaran pelajar, rapat himpunan, pengumuman beasiswa, kesempatan magang, informasi jadwal ujian dan bahkan hingga pengumuman pemindahan jadwa kelas. Ruang Simpul memberikan ruang kepada mahasiswa, untuk lebih cepat menyimpulkan informasi apa saja yang berada di sekitar mereka. Ruang simpul diharapkan mampu menyelesaikan masalah agar sirkulasi informasi di dalam kampus lebih tepat sasaran.</p>
			<h3>Kenapa <b>Harus</b> RuangSimpul?</h3>
			<p>Berbeda dengan sumber informasi umum lainya, Ruang simpul menyadari permasalahan mendasar yang dimiliki oleh mereka. Kebanyakan Sumber informasi umum seperti mailing list, grup facebook atau aplikasi chatting pada smartphone, tidak mampu memisahkan mana informasi yang relevan sesuai pendengarnya. Contohnya grup Whatsapp.Menurut statistik, dalam sehari ada setidaknya 50 juta pesan yang diolah oleh whatasapp. Hal ini menyebabkan informasi yang relevan tenggelam dengan informasi yang tidak relevan.</p>
			<img src="img/overload-email.png" class="col-md-12" alt="Overload informasi di mailing list agenda ganesha">
			<h5 class="text-center"><small>MailingList Agenda Ganehsa Memperlakukan seluruh pendengarnya sama rata. Akibatnya Informasi yang relevan menjadi tenggelam.</small></h5>
			<p>Contoh lainya mailing list AgendaGanesha. Mailing list tersebut menganggap seluruh pendengarnya sama. Mailing list itu bahkan tetap mengirimkan informasi lowongan kerja untuk freshgraduate kepada anak tingkat 2. Ruang Simpul dilengkapi dengan fitur <b>channel</b> yang memastikan bahwa pendengarnya hanya mendapatkan informasi yang relevan dengan apa yang ingin dia dapatkan. Dengan demikian, informasi yang penting tidak tenggelam. Ruang simpul <b>dilengkapi dengan kecerdasan buatan (Artificial Intelligence)</b> yang mampu mempelajari perilaku penggunanya sehingga dapat memberikan informasi yang relevan.</p>
			
			<div class="alert alert-info">Yup saat ini RuangSimpul dalam tahap pengembangan. Kami selalu senang bisa berkorespondensi dengan siapapun. Email kami ke ruangsimpul@gmail.com</div>
			<!-- <h3>Bagaimana Ruang Simpul Bekerja</h3> -->
		</div>
	</div>
</div>