<div class="jumbotron">
	<h1 class="text-center">
		Tentang Ruang Simpul
	</h1>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<h3>Kenapa ada Ruang Simpul?</h3>
			<p>Berdasarkan penelitian yang dilakukan oleh Pers Mahasiswa ITB, mading di dalam kampus tidak lagi efektif untuk menyebarkan informasi. Tidak setiap hari mahasiswa punya kesempatan untuk melihat mading. Akibatnya, sempat terjadi beberapa kasus keterlambatan beasiswa hanya <b>karena penerima tidak tahu tentang informasi beasiswa tersebut.</b></p>
			<img src="img/bukti-mading-gagal.jpg" class="col-md-12" alt="Bukti Kegagalan Mading">
			<h5 class="text-center"><small>Kasus pada bulan November 2014, Pencairan dana terlambat karena penerima tidak tahu informasinya</small></h5>
			<h3>Apa itu ruang Simpul</h3>
			<p>Menurut Eka, Ketua Pers Mahasiwa 2014, Informasi yang ada di Mading kampus harus didigitalisasi. Ruang simpul mencoba menjawab tantangan ini.Ruang simpul adalah mading digital. RuangSimpul adalah sebuah platform sharing informasi seputar kampus yang didesain khusus untuk kebutuhan ini. Ruang Simpul memberikan ruang kepada mahasiswa, untuk lebih cepat menyimpulkan informasi apa saja yang berada di sekitar mereka. Ruang simpul diharapkan mampu menyelesaikan masalah agar sirkulasi informasi di dalam kampus lebih tepat sasaran.</p>
			<h3>Apa saja fitur RuangSimpul.</h3>
			<p></p>
		</div>
	</div>
</div>