<div class="modal-body">
	<form class="form-horizontal">
		<fieldset>

			<!-- Form Name -->
			<legend>New Events</legend>
			<!-- Text input-->
			<div class="form-group">
				<label class="col-md-2 control-label" for="textinput">Nama Event</label>  
				<div class="col-md-10">
					<input id="textinput" name="textinput" placeholder="placeholder" class="form-control input-md" type="text" ng-model="event.name">
				</div>
			</div>

			<div class="form-group">
				<label class="col-md-2 control-label" for="textinput">Waktu Event</label>  
				<div class="col-md-4">
					<p class="input-group">
						<span class="input-group-btn">
							<button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
						</span>
						<input type="text" ui-date class="form-control" datepicker-popup="dd-MMMM-yyyy" ng-model="event.date" is-open="opened" min-date="minDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
					</p>
				</div>
				<label class="col-md-2 control-label" for="textinput">Lokasi Event</label>  
				<div class="col-md-4">
					<input id="textinput" name="textinput" placeholder="placeholder" class="form-control input-md" type="text" ng-model="event.location">
				</div>
			</div>

			<!-- Textarea -->
			<div class="form-group">
				<label class="col-md-2 control-label" for="textarea">Deskripsi</label>
				<div class="col-md-10">                     
					<textarea class="form-control" id="textarea" name="textarea" ng-model="event.description">Deskripsi Event</textarea>
				</div>
			</div>
			
			<!-- Textarea -->
			<div class="form-group">
				<label class="col-md-2 control-label" for="textarea">Poster Event</label>
				<div class="col-md-10">                     
					<button ngf-select ng-model="files" class="btn btn-info">Select file</button>
				</div>
			</div>

			<H4>Upload progress</H4>
			<div class="col-md-12">
				<progressbar value="file.progress" type="success"><span style="color:black; white-space:nowrap;">{{file.progress}}</span></progressbar>	
			</div>
			<!-- <h2>Status</h2>
			Preview : <img src="{{file.result.url}}">
			<div class="file" ng-repeat="file in files">
				<h3>{{file.name}}</h3>
				<div class="status">{{file.status}}</div>
				<div class="progress-bar">
					<div class="progress" style="width: {{file.progress}}%" ng-init="progress=0"></div>
				</div>
				<div class="form_line">
					<div class="form_controls">
						<div class="preview"></div>
					</div>
				</div>
				<div class="info">
					<table>
						<tr ng-repeat="(key, value) in file.result">
							<td> {{key}} </td> <td> {{ value }} </td>
						</tr>
					</table>
				</div>
			</div> -->
			
			
			<!-- Button -->
			<div class="form-group">
				<div class="col-md-offset-9">
					<div class="btn-group">
						<button id="singlebutton" name="singlebutton" ng-click="addEvent()" class="btn btn-primary">Add New Events</button>
						<button id="singlebutton" name="singlebutton" ng-click="closeModal()" class="btn btn-danger">Close</button>
					</div>					
				</div>
			</div>

			
		</fieldset>
	</form>
</div>
