<div class="jumbotron">
	<div class="text-center">
		<H2>Dashboard</H2>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<ul class="nav nav-pills">
						<li ng-class="{active:isActive('/dashboard/events')}"><a ui-sref=".events">Events</a></li>
						<li ng-class="{active:isActive('/dashboard/organization')}"><a ui-sref=".organization">Settings</a></li>
					</ul>
				</div>
				<div class="panel-body">
					<div ncy-breadcrumb></div>
					<div ui-view></div>
				</div>
			</div>
		</div>
	</div>
</div>