<a ui-sref="dashboard.events">Back</a>

<form class="form-horizontal">
	<fieldset>
		<legend>Edit Event</legend>
		
		<div class="form-group">
			<label class="col-md-2 control-label" for="textarea">Nama Event</label>
			<div class="col-md-10">                     
				<input type="text" placeholder="placeholder" class="form-control input-md" ng-model="event.name">
			</div>
		</div>

		
		<div class="form-group">
			<label class="col-md-2 control-label" for="textarea">Waktu event</label>
			<div class="col-md-4">                     
				<input type="text" placeholder="placeholder" class="form-control input-md"  ng-model="event.date">
			</div>
			<label class="col-md-2 control-label" for="textarea">Lokasi Event</label>
			<div class="col-md-4">                     
				<input type="text" placeholder="placeholder" class="form-control input-md"  ng-model="event.location">
			</div>
		</div>		
		
		<div class="form-group">
			<label class="col-md-2 control-label" for="textarea">Poster Event</label>
			<div class="col-md-10">                     
				<textarea class="form-control" id="textarea" name="textarea">default text</textarea>
			</div>
		</div>

		<div class="form-group">
			<label class="col-md-2 control-label" for="textarea">Poster Event</label>
			<div class="col-md-10">                     
				<button ngf-select ng-model="files" class="btn btn-info">Select file</button>
			</div>
		</div>		

		<h5>Status</h5>
		
		<div class="file" ng-repeat="file in files">
			<h3>{{file.name}}</h3>
			<div class="status">{{file.status}}</div>
			<div class="col-md-12">
				<progressbar value="file.progress" type="success"><span style="color:black; white-space:nowrap;">{{file.progress}}</span></progressbar>	
			</div>
			
			<!-- 
			<div class="info">
				<table>
					<tr ng-repeat="(key, value) in file.result">
						<td> {{key}} </td> <td> {{ value }} </td>
					</tr>
				</table>
			</div> -->
		</div>

		<h2>Images : </h2>
		<ul>
			<li ng-repeat="p in event.photos"><img src="{{p}}" alt=""></li>
		</ul>
		<!-- Button -->
		<div class="form-group">
			<div class="col-md-offset-9">
				<div class="btn-group">
					<button id="singlebutton" name="singlebutton" ng-click="editEvent()" class="btn btn-primary">Edit</button>
				</div>					
			</div>
		</div>
	</fieldset>
</form>

{{event}}


<!-- Textarea -->


