<div class="container">
	{{cauth}}
	<button ng-click="logout()">UNAUTH</button>
	<h3>Events </h3>
	<ul>
		<li ng-repeat="(idx,evnt) in events">
			<h4><a ui-sref="event({eventId : {{idx}} })">{{ evnt.name }}</a></h4>
			<h6><b> {{ evnt.location }} </b></h6>
			<h6><b> {{ evnt.date }} </b></h6>
			<a href="#" ng-click="removeEvent(evnt)">X</a>			
		</li>
	</ul>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-8">
			<div class="panel panel-default">
				<div class="panel-heading">
					Add Events
				</div>
				<div class="panel-body">
					<form ng-submit="addEvent(event)">
						<p>
							Name :
							<input type="text" ng-model="event.name">
						</p>
						<p>
							Location:
							<input type="text" ng-model="event.location">
						</p>
						<p>
							Date :
							<input type="text" ng-model="event.date">
						</p>
						<input type="submit" >
					</form>

					<div class="col-md-6">
						<pre>Event : {{ event }}</pre>
					</div>
					<div class="col-md-6">
						<pre>Events : {{ events}}</pre>
					</div>
					tes hello
					{{helo}}
				</div>
			</div>
		</div>
	</div>
</div>
